<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%-include("partials/header.ejs")-%>
</head>
<body>
    <%-include("partials/navbar.ejs") %>
    <p id="userColor" style="display: none;"><%= userColor %></p> <!-- Hidden paragraph containing userColor -->
    <div class="container">
        <h1>Welcome, <%= username %>!</h1>
        <h2><%= title %></h2>
        <p>Date: <%= date %></p>
        <% if (media_type === 'video') { %>
            <iframe width="560" height="315" src="<%= url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% } else { %>
            <img src="<%= url %>" alt="<%= title %>" style="max-width:100%;">
        <% } %>
        <div class="container-fluid mt-4 rounded ">
        <p  class="lead"><%= explanation %></p>
        </div>
        <p>Copyright: <%= copyright %></p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userColor = document.getElementById('userColor').textContent; // Getting the color from the hidden <p> element
            document.body.style.backgroundColor = userColor; // Setting the background color
        });
    </script>
</body>
</html>

